repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
    -   id: nbstripout

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.7.1"
    hooks:
    -   id: mypy
        exclude: async_test.py|__main__.py
        args: [--strict, --ignore-missing-imports, --disallow-subclassing-any]

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.2.2"
    hooks:
    -   id: ruff
        args: [--fix, --config, pyproject.toml]
    - id: ruff-format
